/*登录*/
.log-content {
	background-color: #fff;
	position: absolute;
	top: 45px;
	left: 0;
	bottom: 0;
	right: 0;
}
.log-content .logo img {
	display: block;
	margin: 25px auto;
}
.log-form {
	padding-left: 10px;
	margin-bottom: 30px;
}
.phone, .pwd {
	overflow: hidden;
}
.phone .phone-icon {
	width: 10px;
	height: 18px;
	background-position: 0 0;
	margin: 13px;
}
.phone-right, .pwd-right {
	height: 45px;
	border-bottom: 1px solid #ddd;
	width: 88%;
}
.phone-right input, .pwd-right input {
	border: none;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
}
.phone-right input {
	width: 100%;
}
.pwd-right input {
	width: 90%;
}
.pwd .pwd-icon-gray {
	width: 12px;
	height: 15px;
	background-position: 0 -19px;
	margin: 15px 12px;
}
.pwd .eye-icon {
	width: 14px;
	height: 13px;
	background-position: 0 -53px;
	margin: 16px 10px 16px 0;
}
.phone .error, .pwd .error {
	display: block;
	width: 88%;
	float: right;
	color: #f00;
	margin-top: 5px;
}
.log-btn input {
	display: block;
	width: 90%;
	margin: 0 auto 15px;
	padding: 0;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	border: 1px solid #3d96ff;
	font-size: 14px;
}
.log-btn input.fill {
	background-color: #3d96ff;
	color: #fff;
}
.log-btn input.block {
	background-color: #fff;
	color: #3d96ff;
}
.log-link {
	text-align: center;
}
.log-link a {
	color: #666;
	font-size: 13px;
}
